params {
    max_cpus = 8
    max_memory = '24.GB'
}

process {
    withName: 'XISEARCH_LINEAR|XISEARCH_CROSSLINK' {
        cpus = 8
        memory = 24.GB
    }

    withName: 'XIFDR' {
        cpus = 8
        memory = 24.GB
    }

    withName: 'MASS_RECALIBRATION' {
        memory = 24.GB
    }
}