params {
    max_cpus = 32
    max_memory = '96.GB'
}

process {
    resourceLimits = [
        cpus: 32,
        memory: 96.GB,
        time: 240.h
    ]

    withName: 'XISEARCH_LINEAR|XISEARCH_CROSSLINK' {
        cpus = 32
        memory = 96.GB
        ext.java_heap_gb = 80
    }

    withName: 'XIFDR' {
        cpus = 32
        memory = 64.GB
    }

    withName: 'MASS_RECALIBRATION' {
        memory = 96.GB
    }
}